﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add forecast</title>



</head>
<body>


    <h1>Add forecast</h1>

    <br />


    <!-- Pattern in input is used to validate input. Safari does not support datepicker so Safari users need to enter date by hand-->
    <label for="datelabel">Date (mm/dd/yyyy)</label><br>
    <input placeholder="MM/DD/YYYY" type="date" name="date" id="datefield" value="" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"
           #datefield />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <script>(function () {
            var elem = document.createElement('input');
            elem.setAttribute('type', 'date');

            if (elem.type === 'text') {
                $('#date').datepicker();
            }
        })();</script>

    <br />
    <br />

    <label for="wind">Wind speed (m/s):</label><br>
    <input type="number" id="wind" name="windspeed" value="10" #wind><br><br />
    <label for="temp">Temperature C</label><br>
    <input type="number" id="tempc" name="temperatureC" value="15" #temperatureC><br><br />

    <label for="rain">Rain amount (mm/h)</label><br />
    <input type="number" id="rain" name="rainamount" value="0" #rain /><br /><br>

    <label for="city">City</label><br />

    <select id="selectcity" #selectcity>
        <option *ngFor="let location of locations">
            {{location.name}}
        </option>

    </select>

    <br />
    <br />



    
    <button class="btn btn-primary" (click)="addForecast(datefield.value, selectcity.value, wind.value, rain.value, temperatureC.value)">Add forecast</button>


</body>
</html>

