﻿<html>


<body>


    <h1>Add City</h1>


    <input id="nameinput" type="text" #newCityName><br /><br />

    <button class="btn btn-primary" (click)="addCity(newCityName.value)">Add city</button>
    <br />


    <br />

    <br />
    
    <label for="city">Remove a city</label><br />

    <select id="selectcity" #selectcity>
        <option *ngFor="let location of locations"  [value]="location.id">
            {{location.name}}
        </option>

    </select>

    <br />
    <br />

    <button class="btn btn-primary" (click)="removeCity(selectcity.value)">Remove selected city</button>
    



</body>
</html>