<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<br /><br />




<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Wind speed (m/s)</th>
            <th>Rain (mm/h)</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts; let i=index;">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.wind }}</td>
            <td>{{ forecast.rain }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.city }}</td>
            <td> <input type="button" value="Remove" (click)="Remove(forecast)" /></td>

        </tr>
    </tbody>
</table>



