<head>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">$(document).ready(function () {
            $("p").click(function () {
                $(this).hide();
            });
        });</script>

</head>

<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>



<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>


