<h1>Ari Talalan Fuusor työnäyte</h1>
<p>Tästä työnäytteestä puuttuu seuraavat vaaditut ominaisuudet ajan loppuessa kesken:</p>
<ul>
    <li><a>Säätietojen muokkaus ja paikkakuntien muokkaus.</a></li>
    <li><a>Säätietojen selaaminen ja visualisointi päivämäärittäin ja paikkakunnittain</a></li>

    <li><a>Päivämäärän asettaminen on optimoitu Safari-selaimelle siten että se on määritettävä käsin.</a></li>
    <li><a>JQuerylla toteutettu Datepicker UI-elementti ei toimi Safarilla mutta nähtävästi toimii Chrome-selaimella.</a></li>

    <br />
    <br />
    <li><a>Forecasts sivulla on säätiedot ja sieltä voi remove painikkeella poistaa niitä.</a></li>
    <li><a>Add City lisätään paikkakunta.</a></li>
    <li><a>Add Forecast lisätään säätieto. Safarilla päivämäärä on lisättävä itse. Muilla selaimilla toimii datepicker.</a></li>

    <li><a>Paikkakunnat tallentuu cities.json tiedostoon. Säätiedot tallennetaan forecasts.json tiedostoon.</a></li>



</ul>



